# Compile this file for changes to take effect:
# pip-compile requirements.in >> requirements.txt

boto3
psycopg2
uwsgi

django<4  # django CMS 4 doesn't yet support django 4.x and 3.x is the LTS version
dj-database-url
django-storage-url
whitenoise
easy-thumbnails

# key requirements for django CMS
https://github.com/django-cms/django-cms/archive/refs/heads/release/4.0.1.x.zip#egg=django-cms
https://github.com/divio/djangocms-versioning/tarball/master#egg=djangocms-versioning
https://github.com/divio/djangocms-alias/tarball/master#egg=djangocms-alias
djangocms-picture

# optional, but used in most projects
djangocms-admin-style

# the default CKEditor - optional, but used in most projects
https://github.com/django-cms/djangocms-text-ckeditor/archive/refs/heads/support/4.0.x.zip#egg=djangocms-text-ckeditor

# Replaces djangocms-link
https://github.com/divio/djangocms-url-manager/tarball/master#egg=djangocms-url-manager


# optional django CMS Bootstrap 4 modules
https://github.com/django-cms/djangocms-bootstrap4/archive/refs/heads/support/django-cms-4.0.x.zip


django-filer


pip-tools  # needed for compilation of this file into requirements.txt, see start of file
