# Compile this file for changes to take effect:
# pip-compile requirements.in >> requirements.txt


django==3.2
dj-database-url==0.5.0
django-storage-url==0.5.0
whitenoise==5.2.0
boto3==1.14.49

psycopg2==2.8.5

uwsgi==2.0.19.1

# key requirements for django CMS
django-cms<4
django-classy-tags>=2.0
django-sekizai>=2.0
pytz

# optional, but used in most projects
djangocms-admin-style>=2.0

# the default CKEditor - optional, but used in most projects
djangocms-text-ckeditor>=4.0

# some content plugins - optional, but used in most projects
# djangocms-link>=3.0,<4.0  # Only if not using djangocms-frontend
djangocms-icon>=2.0,<3.0
djangocms-style>=3.0,<4.0
djangocms-googlemap>=2.0,<3.0
djangocms-video>=3.0,<4.0
djangocms-file>=3.0,<4.0
djangocms-picture>=3.0,<4.0

easy-thumbnails
# optional django CMS Frontend modules
djangocms-frontend

# Django Filer - optional, but used in most projects (alpha) - already implicitly installed through djangocms-file
# https://github.com/django-cms/django-filer/archive/refs/tags/2.1.1.zip#egg=django-filer

pip-tools  # needed for compilation of this file into requirements.txt, see start of file
