# Compile this file for changes to take effect:
# pip-compile -U --resolver=backtracking

boto3
psycopg2-binary
uwsgi

django<=6
dj-database-url
django-storage-url
whitenoise
easy-thumbnails

# key requirements for django CMS
django-cms>=4.1.0
djangocms-versioning>=2.0.0
djangocms-alias>=2.0.0

# optional, but used in most projects
djangocms-admin-style>=3.2.2

# the next-gen text editor
djangocms-text


# optional django CMS frontend
git+https://github.com/fsbraun/djangocms-frontend@feat/djangocms-link-support#egg=djangocms-frontend
git+https://github.com/django-cms/djangocms-link@feat/url-mngr#egg=djangocms-link

# optional for testing of the blog functionalities and for testing djangocms-link
git+https://github.com/fsbraun/djangocms-blog.git@develop-4#egg=djangocms-blog

django-filer


pip-tools  # needed for compilation of this file into requirements.txt, see start of file
